* {
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
}

.nav, .main, .credits {
    max-width: 1280px;
}

.banner {
    margin-bottom: 49px;
}

h2 {
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 22px;
    line-height: 28.8px;
    letter-spacing: 3.3px;
    margin-bottom: 38px;
}

p.content {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    margin-bottom: 28px;
}

.gt-button {
    color: white;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    padding: 18px 43.5px 17px 42.5px;
    background-color: #FF0000;
    border: 0px;
    border-radius: 10px;
    display: block;
    margin-top: 66px;
    transition: 0.3s;

}

.gt-button:hover {
    color: white;
    background: black;
    font-size: 13px;
}


nav {  
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #FF0000;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.7px;
    font-size: 18px;
    line-height: 18px;
    padding-left: 31px;
    padding-right: 31px;
}

nav ul {
    list-style: none;
    padding-left: 0;
    margin-top: 25.5px;
    margin-bottom: 25.5px;
}

nav li {
    display: inline;
}


.credits p {
    color: #373737;
    font-weight: 700;
    font-size: 16px;
    line-height: 19.5px;
    letter-spacing: 2.4px;
    text-align: right;
    margin-bottom: 29px;
    margin-top: 82px;
}